<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card style="margin: 50px 0">
                <form class="form-create" #f=ngForm (ngSubmit)="f.form.valid&&submit()" novalidate>
                    <mat-form-field appearance="outline">
                        <mat-label>Category name</mat-label>
                        <input matInput placeholder="Category name" name="name" [(ngModel)]="form.name">
                        <mat-icon matSuffix>category</mat-icon>
                    </mat-form-field>
                    <br>
                    <button mat-stroked-button color="accent" class="mat-button-toggle-group btn-outline-primary">Create
                        <mat-icon color="accent" matSuffix>add_circle_outline</mat-icon>
                    </button>
                </form>
            </mat-card>
        </div>
    </div>
</div>
